<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="false" xmlns="proxy.xsd">
    <serverUrls>
				   <serverUrl url="http://http://192.168.29.42:8000/"
                   matchAll="false"/>
				   </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
